doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    block title
      title wommytilliams
    
    block style
      link(rel="stylesheet" href="css/app.min.css")
      link(rel="stylesheet" href="css/app-screen.min.css")
      //- link(rel="icon" href="favicon.ico")

  body
    nav#mobileNav(onclick="toggle( 'toggleMe' )")
      img#hamburger(src='img/hamburger.svg')
      nav#toggleMe(style="display:none;")
        a(href="index.html" class="selected") home
        span Experience
        a(href="experience/branding.html") Branding
        a(href="experience/clients.html") Clients
        a(href="experience/resume.html") Resume
        span Experiments
        a(href="experiments/feed.html") Feed
        a(href="experiments/grid.html") Grid
        a(href="media.html") Media
    
    div#mainNav
      nav
        h2(class="selected")
          a(href="index.html" class="selected") Home
        h2
          span Experience
          nav
            h2
              a(href="experience/branding.html") Branding
            h2
              a(href="experience/clients.html") Clients
            h2
              a(href="experience/resume.html") Resume
        h2
          span Experiments
          nav
            h2
              a(href="experiments/feed.html") Feed
            h2
              a(href="experiments/grid.html") Grid
        h2
          a(href="media.html") Media
      nav#social
        span contact
        a(href='mailto:tom@technomad.media?Subject=Job | from wommytilliams.com' target="_blank")
          img.social(src='img/social/email.svg')
          h2 tom@technomad.media
        a(href='#' onclick=" noDiscriminate(' https://www.facebook.com/Froggie92 ') ")
          img.social(src='img/social/facebook.svg')
          h2 facebook
        a(href='#' onclick=" noDiscriminate(' http://twitter.com/froggie92 ') ")
          img.social(src='img/social/twitter.svg')
          h2 twitter
        a(href='#' onclick=" noDiscriminate(' https://plus.google.com/u/0/118102255716845472363/posts ') ")
          img.social(src='img/social/google-plus.svg')
          h2 google+
        a(href='#' onclick=" noDiscriminate(' https://instagram.com/wommytilliams/ ') ")
          img.social(src='img/social/instagram.svg')
          h2 instagram
        
    div#content
      block content
        | {{ content }}
    
    block scripts
      script(src="scripts/app.min.js")