doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    block title
      title wommytilliams
    
    block style
      link(rel="stylesheet" href="css/app.min.css")
      link(rel="stylesheet" href="css/app-screen.min.css")
      //- link(rel="icon" href="favicon.ico")

  body
    div#content
      block content
        | {{ content }}
    
    block scripts
      script(src="scripts/app.min.js")