$u: 1rem;
$u-indent: $u*1.5;
$u-margin: $u*.75;

.block{display:block;}
.inline-block{display:inline-block;}

.indent{
  &1{margin-left:$u-indent;}
  &2{margin-left:$u-indent*2;}
}

ul{
  padding-left:$u-indent;
  margin:$u-margin 0;
  &.list-none{list-style-type:none;}
}

.subtext{
  margin-top:0;
}