h1
  a(href="#hobbies") hobbies :: aspects that define me
hr

div#biking
  h2#biking biking
  p this will be my 6th year biking in chicago
  p check out my biking video 
    a(href="media.html#create a fresh path") here
div#kungfu
  h2#kungfu kungfu
  p ive been practicing kungfu for over a year now
  p
    a(href="media.html#wingchun") i have a couple videos on my media page
  p 
    | ive also been working on their website
    br
    | you can see the entry on my 
    a(href="experience/clients.html#wingChun") client page here
div#psych
  h2#psych psych
  p my psych career is long and winding
  p 
    | my first introduction to psychology was through 
    a(href="//en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator") myers briggs
  
  //- 
    growing up, 
    the idea of &#39;everyone is equal&#39; was understood as &#39;everyone is the same&#39;
    myers briggs gave me a framework to differentiate people&#39;s reactions
    
    myers briggs ended up being very basic
    it didnt give me the depth that i was seeing
    
    i would spend hours trawling google
    typing in different search terms for interactions i was seeing
    
    the jungian dichotomies ala myers briggs are as follows
    introversion / extraversion
    sensing / intuition
    thinking / feeling
    judgment / perception
    
    jung dichotomy
    
    sharing jungian base

  p hours of trawling google led me to
  h3 socionics
  p socionics was everything i was looking for
  p 
    | socionics' 
    a(href="//www.wikisocion.org/en/index.php?title=Rationality_and_irrationality#Typical_characteristics") rationality / irrationality 
    | replaces mbti's judgment / perception
    br
    | mbti's judgment / perception still exists within socionics, but it is instead a second level dichotomy, 
    a(href="//www.wikisocion.org/en/index.php?title=Static_and_dynamic#Typical_characteristics") static / dynamic
  
  //- 
    this change made huge changes
    mbti's judgment / perception determines what your extraverted function is
    i never quite got this / it never made sense
    socionics in turn explains it well
    judgment / perception exists in socionics
    but it is a second level dichotomy,
  
  p socionics goes into much greater detail than myers briggs:
    div.indent1
      p
        a(href="//www.wikisocion.org/en/index.php?title=Intertype_relations") intertype relations 
        | - descriptions of interactions between types 
        br
        a(href="//www.wikisocion.org/en/index.php?title=Small_groups") small groups 
        | - common ground between types 
        br
        a(href="//www.wikisocion.org/en/index.php?title=Subtypes") subtypes 
        | - no two types are the same 
        br
        a(href="//www.wikisocion.org/en/index.php?title=Model_A") model a 
        | - 
        br
        a(href="//www.wikisocion.org/en/index.php?title=Reinin_dichotomies") second level  dichotomies
        br
        a(href="//www.wikisocion.org/en/index.php?title=Information_elements") information  elements
        br
        a(href="//www.wikisocion.org/en/index.php?title=Functions") functions 
        | which allows for 
        a(href="//www.wikisocion.org/en/index.php?title=Function_dichotomies") functional dichotomies 
        // male female differentiations
  
  p
    a(href="//www.wikisocion.org/en/index.php?title=Information_Metabolism") information metabolism 
    | - can be simplied as follows: 
    br
    | every action you do, is based on information. 
  h3 horoscopes
  p
    a(href="//www.thesecretlanguage.com/today/") the secret language
    br
    | my number one to-go-to
    div.indent1
      p 
        | here you can check 
        a(href="//www.thesecretlanguage.com/check/birthdate/") your or anothers birthday 
        br
        | ( check you and a parent )
        br
        | and 
        a(href="//www.thesecretlanguage.com/check/relationship/") your relationships with other people
        br
        | ( check an old or current flame )
  
  p
    a(href="//astro.cafeastrology.com/") cafe astrology
    div.indent1
      p i personally like their 
        a(href="//astro.cafeastrology.com/cgi-bin/astro/natal") natal chart
        br
        | and their 
        a(href="//astro.cafeastrology.com/cgi-bin/astro/comp2f") relationship chart
  
  h3 tarot year
  a(href="//www.tarotschool.com/Calculator.html") heres a easy calculator i just found
  div.indent1
    p for example:#[br]i want to check for my current year#[br]since my birthday has not happened yet, i check for last year
  p
    a.block(href="//accessnewage.com/articles/Tarot/lottar2.htm") long description
    a.block(href="//www.cosmictarot.co.uk/discover-your-personal-year-card/") short description

  a.block(href="//thetarotroom.com/tarot-growth-cards/") this site has more descriptions
  p.subtext but you have to know your number, use calc above