h2
  a(href="#inspiration") inspiration / philosophy
div
  p words
  ul.list-none
    - var words = ['simple','concise','clean','eloquent','minimal','transparency']
    each word in words
      li= word
div
  p websites
  div.indent1
    a(href="//facsrv.cdm.depaul.edu/~cmiller/") //facsrv.cdm.depaul.edu/~cmiller/
    p.subtext - a teacher of mine, one of the first websites i encountered that put #[a(href="//ims21.net/web_form_function.htm") function over form]
  div.indent1
    a(href="//itemsandthings.com/") //itemsandthings.com/
    p.subtext -  one of my favorite music labels. their brand's dedication to minimalism is conveyed thoroughly, from their music to their web design.
  div.indent1
    a(href="//www.wanna-rework.de/") //www.wanna-rework.de/
    p.subtext - one of the musicians websites on the above label
div
  p quotes
  a(href="//www.reddit.com/r/terencemckenna/comments/32rp8t/a_quote_that_really_grabbed_me_from_terences/")
    img(src="//i.imgur.com/0MAncfi.png" width="90%")