extends _blank.pug

block title
  title c9_npmbp-technomad

block style
  link(rel="stylesheet" href="css/app.min.css")
  link(rel="stylesheet" href="css/app-screen.min.css")

block scripts

block content
  