extends _blank.pug

block title
  title wommytilliams

block style
  link(rel="stylesheet" href="css/app.css")
  link(rel="stylesheet" href="css/app.min.css")
  link(rel="stylesheet" href="css/app-screen.min.css")
  //- link(rel="icon" href="favicon.ico")

block nav
  include _inc-nav.pug
    
block content


block scripts
  script(src="./_scripts/app.min.js")