extends _template.pug

block style
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="css/app.css")

block nav

block content
  article#contact
    h2
      a(href="#contact") contact
      div
        each val in ['email','facebook','twitter','google-plus','instagram']
          a(href=''): img.social.inline(src='img/social/'+val+'.svg')