extends _template.pug

block content
  .posts
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-02-16-Tomorrows-Social-Norms-_-Video-Playlist/') Tomorrows Social Norms _ Video Playlist
      span.post-date.indentBig Tue Feb 16 2016 20:25:58 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-20-runningdoc/') Runningdoc
      span.post-date.indentBig Wed Jan 20 2016 17:44:22 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-19-runningdoc/') Runningdoc
      span.post-date.indentBig Tue Jan 19 2016 15:28:06 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-11-runningdoc/') Runningdoc
      span.post-date.indentBig Mon Jan 11 2016 22:38:31 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-08-runningdoc/') Runningdoc
      span.post-date.indentBig Fri Jan 08 2016 13:40:47 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-07-runningdoc/') Runningdoc
      span.post-date.indentBig Thu Jan 07 2016 13:21:34 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2016-01-06-runningdoc/') Runningdoc
      span.post-date.indentBig Wed Jan 06 2016 20:17:42 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-27-runningdoc/') Runningdoc
      span.post-date.indentBig Sun Dec 27 2015 19:49:00 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-26-runningdoc/') Runningdoc
      span.post-date.indentBig Sat Dec 26 2015 17:38:39 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-26-knives/') Knives
      span.post-date.indentBig Sat Dec 26 2015 15:09:02 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-24-runningdoc/') Runningdoc
      span.post-date.indentBig Thu Dec 24 2015 03:36:03 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-23-runningdoc/') Runningdoc
      span.post-date.indentBig Wed Dec 23 2015 12:34:15 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-18-runningdoc/') Runningdoc
      span.post-date.indentBig Fri Dec 18 2015 19:43:49 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-15-politics-and-economics/') Politics And Economics
      span.post-date.indentBig Tue Dec 15 2015 05:53:56 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-10-runningdoc/') Runningdoc
      span.post-date.indentBig Thu Dec 10 2015 11:59:46 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-10-more-politics/') More Politics
      span.post-date.indentBig
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-09-dance/') Dance
      span.post-date.indentBig Wed Dec 09 2015 21:47:00 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-08-runningdoc/') Runningdoc
      span.post-date.indentBig Tue Dec 08 2015 14:48:21 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-05-runningdoc/') Runningdoc
      span.post-date.indentBig Sat Dec 05 2015 13:28:11 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/runningdoc/') runningdoc
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-02-runningdoc/') Runningdoc
      span.post-date.indentBig Wed Dec 02 2015 17:03:00 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/runningdoc/') runningdoc
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-02-fascism-reddit-exposition/') Fascism Reddit Exposition
      span.post-date.indentBig
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-12-01-exploring-cafeastrology/') Exploring Cafeastrology
      span.post-date.indentBig Tue Dec 01 2015 13:13:10 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/personality/') personality
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-25-wordpress-calypso/') Wordpress Calypso
      span.post-date.indentBig
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/web/') web
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-11-tarot-year/') Tarot Year
      span.post-date.indentBig Wed Nov 11 2015 16:40:43 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/personality/') personality
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-11-horoscope-and-planet-in-sign/') Horoscope And Planet In Sign
      span.post-date.indentBig
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-11-blah/') Blah
      span.post-date.indentBig Wed Nov 11 2015 15:52:08 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/runningDoc/') runningDoc
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-09-running-doc/') Running Doc
      span.post-date.indentBig Mon Nov 09 2015 19:58:55 GMT-0500 (EST)
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon/runningDoc/') runningDoc
    .post
      h1.post-title
        a(href='http://wommy.github.io/jekyll-lanyon/post/2015-11-09-INIT_TODO/') Init_todo
      span.post-date.indentBig
      a.post-category.indentBig(href='http://wommy.github.io/jekyll-lanyon//')