img.wommyImg(src='img/wommyM.jpg')
h2 welcome to my portfolio
p feel free to check out
a.block.indent1(href='media.html') my media
a.block.indent1(href='experience/clients.html') my clients
p.indent1 my experiments
a.block.indent2(href='experiments/feed.html') feed
a.block.indent2(href='experiments/grid.html') grid