extends _layouts/template.pug

block content
  article(id='')
    include partials/home.pug
  article#inspiration
    include partials/inspiration.pug
  article#hobbies
    include partials/hobbies.pug