//- 
  prepend 
  | ---
  | layout: template
  | ---

extends _layouts/template.pug

block content
  article(id='')
    p
      img.wommyImg(src="img/wommyBig.jpg")
    h2 welcome to my portfolio
    p feel free to check out
      blockquote
        p 
          a(href="media.html") my media
          br
          a(href="experience/clients.html") my clients
      blockquote
        p my experiments
    blockquote
      blockquote
        p
          a(href="experiments/feed.html") feed
          br
          a(href="experiments/grid.html") grid
  article#inspiration
    h2
      a(href="#inspiration") inspiration
    p here i want to list a few words that my design exemplifies
      blockquote
        | simple
        br
        | concise
        br
        | clean
        br
        | eloquent
        br
        | minimal
        br
        | transparency
    p and a few websites that have inspired me.
      blockquote
        p
          a(href="//facsrv.cdm.depaul.edu/~cmiller/") //facsrv.cdm.depaul.edu/~cmiller/
          br
          | - a teacher of mine, one of the first websites i encountered that put 
          a(href="//ims21.net/web_form_function.htm") function over form
        p
          a(href="//itemsandthings.com/") //itemsandthings.com/
          br
          | -  one of my favorite music labels. their brand's dedication to minimalism is conveyed thoroughly, from their music to their web design.
        p
          a(href="//www.wanna-rework.de/") //www.wanna-rework.de/
          br
          | - one of the musicians websites on the above label
        
    p and a few quotes that have inspired me
      a(href="//www.reddit.com/r/terencemckenna/comments/32rp8t/a_quote_that_really_grabbed_me_from_terences/")
        img(src="//i.imgur.com/0MAncfi.png" width="100%")
    br
    
  article#hobbies
    h1
      a(href="#hobbies") hobbies :: aspects that define me
    hr
    
    div#biking
      h2#biking biking
      p this will be my 6th year biking in chicago
      p 
        | check out my biking video 
        a(href="media.html#create a fresh path") here
    div#kungfu
      h2#kungfu kungfu
      p ive been practicing kungfu for over a year now
      p
        a(href="media.html#wing chun videos") i have a couple videos on my media page
      p 
        | ive also been working on their website
        br
        | you can see the entry on my 
        a(href="experience/clients.html#wingChun") client page here
    div#psych
      h2#psych psych
      p my psych career is long and winding
      p 
        | my first introduction to psychology was through 
        a(href="//en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator") myers briggs
      
      //- 
        growing up, 
        the idea of &#39;everyone is equal&#39; was understood as &#39;everyone is the same&#39;
        myers briggs gave me a framework to differentiate people&#39;s reactions
        
        myers briggs ended up being very basic
        it didnt give me the depth that i was seeing
        
        i would spend hours trawling google
        typing in different search terms for interactions i was seeing
        
        the jungian dichotomies ala myers briggs are as follows
        introversion / extraversion
        sensing / intuition
        thinking / feeling
        judgment / perception
        
        jung dichotomy
        
        sharing jungian base

      p hours of trawling google led me to
      h3 socionics
      p socionics was everything i was looking for
      p 
        | socionics' 
        a(href="//www.wikisocion.org/en/index.php?title=Rationality_and_irrationality#Typical_characteristics") rationality / irrationality 
        | replaces mbti's judgment / perception
        br
        | mbti's judgment / perception still exists within socionics, but it is instead a second level dichotomy, 
        a(href="//www.wikisocion.org/en/index.php?title=Static_and_dynamic#Typical_characteristics") static / dynamic
      
      //- 
        this change made huge changes
        mbti's judgment / perception determines what your extraverted function is
        i never quite got this / it never made sense
        socionics in turn explains it well
        judgment / perception exists in socionics
        but it is a second level dichotomy,
      
      p socionics goes into much greater detail than myers briggs:
        blockquote
          p
            a(href="//www.wikisocion.org/en/index.php?title=Intertype_relations") intertype relations 
            | - descriptions of interactions between types 
            br
            a(href="//www.wikisocion.org/en/index.php?title=Small_groups") small groups 
            | - common ground between types 
            br
            a(href="//www.wikisocion.org/en/index.php?title=Subtypes") subtypes 
            | - no two types are the same 
            br
            a(href="//www.wikisocion.org/en/index.php?title=Model_A") model a 
            | - 
            br
            a(href="//www.wikisocion.org/en/index.php?title=Reinin_dichotomies") second level  dichotomies
            br
            a(href="//www.wikisocion.org/en/index.php?title=Information_elements") information  elements
            br
            a(href="//www.wikisocion.org/en/index.php?title=Functions") functions 
            | which allows for 
            a(href="//www.wikisocion.org/en/index.php?title=Function_dichotomies") functional dichotomies 
            // male female differentiations
      
      p
        a(href="//www.wikisocion.org/en/index.php?title=Information_Metabolism") information metabolism 
        | - can be simplied as follows: 
        br
        | every action you do, is based on information. 
      h3 horoscopes
      p
        a(href="//www.thesecretlanguage.com/today/") the secret language
        br
        | my number one to-go-to
        blockquote
          p 
            | here you can check 
            a(href="//www.thesecretlanguage.com/check/birthdate/") your or anothers birthday 
            br
            | ( check you and a parent )
            br
            | and 
            a(href="//www.thesecretlanguage.com/check/relationship/") your relationships with other people
            br
            | ( check an old or current flame )
      
      p
        a(href="//astro.cafeastrology.com/") cafe astrology
        blockquote
          p 
            | i personally like their 
            a(href="//astro.cafeastrology.com/cgi-bin/astro/natal") natal chart
            br
            | and their 
            a(href="//astro.cafeastrology.com/cgi-bin/astro/comp2f") relationship chart
      
      h3 tarot year
      p
        a(href="//www.tarotschool.com/Calculator.html") heres a easy calculator i just found
        blockquote
          p
            | for example:
            br
            | i want to check for my current year
            br
            | since my birthday has not happened yet, i check for last year

      p
        a(href="//accessnewage.com/articles/Tarot/lottar2.htm") long description
        br
        a(href="//www.cosmictarot.co.uk/discover-your-personal-year-card/") short description
    
      p
        a(href="//thetarotroom.com/tarot-growth-cards/") this site has more descriptions
        br
        | but you have to know your number, use calc above