extends _template.pug

block content
  article(id='popcornbulb')
    h2
      a(href='#popcornbulb') popcorn bulb
    p
      | short video i acted in for 
      a(href='clients.html#geraldHaman') gerald haman
    iframe(width='660', height='371', src='https://www.youtube.com/embed/3mkvvZc3twY?feature=oembed', frameborder='0', allowfullscreen='')
  article(id='jorris')
    h2
      a(href='#jorris') john orris originals
    p
      | i've come to cherish the handful of 
      a(href='clients.html#jOrris') John Orris'
      |  films i acted in:
    h3 white hot trouble
    iframe(width='660', height='371', src='https://www.youtube.com/embed/6-NJz6b6XhQ?feature=oembed', frameborder='0', allowfullscreen='')
    h3 paradise shorts
    iframe(src='//player.vimeo.com/video/73359740', width='660', height='371', frameborder='0', title='"Paradise Shorts" .01-.10', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    h3 naked fierce
    iframe(src='//player.vimeo.com/video/106900917', width='660', height='371', frameborder='0', title='Naked - "Fierce"', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  article(id='wingchun')
    h2
      a(href='#wingchun') wing chun videos
    h3 chi-sau-ing with sifu from my helmet
    iframe(width='640', height='360', src='https://www.youtube.com/embed/jO9N00johrw', frameborder='0', allowfullscreen='')
    h3 chi-sau-ing with sifu from my chest
    iframe(width='640', height='360', src='https://www.youtube.com/embed/ZYu-nuwmG3M', frameborder='0', allowfullscreen='')
    h3 chi-sau-ing with sifu from his chest
    iframe(width='640', height='360', src='https://www.youtube.com/embed/qe7le9oVrRI', frameborder='0', allowfullscreen='')
    h3 sifu going thru the first wooden dummy form
    iframe(width='640', height='360', src='https://www.youtube.com/embed/AegzO_xVyrg', frameborder='0', allowfullscreen='')
  article(id='CAFP')
    h2
      a(href='#CAFP') create a fresh path
    iframe(src='https://player.vimeo.com/video/122390839', height='385', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    p i couldn't have made this video without some help from my friends:  
    p
      a(href='https://www.facebook.com/koctavioroman') kyle roman
      |  helped me procure the go pro
    p
      | nick drew did the lovely editing  
      br
      | visit his website @ 
      a(href='http://www.couchfirefilms.com/') http://www.couchfirefilms.com/
    p
      a(href='https://www.facebook.com/BrooksJonesMusic') brooks jones
      |  supplied the sweet tunes  
      br
      | visit his soundcloud @ 
      a(href='https://soundcloud.com/tarpleybrooksjones') https://soundcloud.com/tarpleybrooksjones
