extends /_template.pug

block content
  article(id='popcornBulb')
    h2
      a(href='#popcornBulb') popcorn bulb
    p
      | short video i acted in for 
      a(href='/clients#geraldHaman') gerald haman
    iframe(width='660', height='371', src='//youtube.com/embed/3mkvvZc3twY?feature=oembed', frameborder='0', allowfullscreen='')
  article(id='jOrris')
    h2
      a(href='#jOrris') john orris originals
    p
      | i've come to cherish the handful of 
      a(href='/clients#jOrris') John Orris'
      |  films i acted in:
    h3 white hot trouble
    iframe(width='660', height='371', src='//youtube.com/embed/6-NJz6b6XhQ?feature=oembed', frameborder='0', allowfullscreen='')
    h3 paradise shorts
    iframe(src='//player.vimeo.com/video/73359740', width='660', height='371', frameborder='0', title='"Paradise Shorts" .01-.10', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    h3 naked fierce
    iframe(src='//player.vimeo.com/video/106900917', width='660', height='371', frameborder='0', title='Naked - "Fierce"', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  article(id='wingChun')
    h2
      a(href='#wingChun') wing chun videos
    h3 chi-sau-ing with sifu from my helmet
    iframe(width='640', height='360', src='//youtube.com/embed/jO9N00johrw', frameborder='0', allowfullscreen='')
    h3 chi-sau-ing with sifu from my chest
    iframe(width='640', height='360', src='//youtube.com/embed/ZYu-nuwmG3M', frameborder='0', allowfullscreen='')
    h3 chi-sau-ing with sifu from his chest
    iframe(width='640', height='360', src='//youtube.com/embed/qe7le9oVrRI', frameborder='0', allowfullscreen='')
    h3 sifu going thru the first wooden dummy form
    iframe(width='640', height='360', src='//youtube.com/embed/AegzO_xVyrg', frameborder='0', allowfullscreen='')
  article(id='createAFreshPath')
    h2
      a(href='#createAFreshPath') create a fresh path
    iframe(src='//player.vimeo.com/video/122390839', height='385', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    p i couldn't have made this video without some help from my friends:  
    p
      a(href='//facebook.com/koctavioroman') kyle roman
      |  helped me procure the go pro
    p
      | nick drew did the lovely editing  
      br
      | visit his website @ 
      a(href='//couchfire.film') couchfire.film
    p
      a(href='//facebook.com/BrooksJonesMusic') brooks jones
      |  supplied the sweet tunes  
      br
      | visit his soundcloud @ 
      a(href='//soundcloud.com/tarpleybrooksjones') soundcloud.com/tarpleybrooksjones
