
RewriteEngine on
RewriteCond %{HTTP_HOST} ^wommytilliams\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wommytilliams\.com$
RewriteRule ^bikevideo$ "https\:\/\/vimeo\.com\/122390839" [R=301,L]

RewriteCond %{HTTP_HOST} ^wommytilliams\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wommytilliams\.com$
RewriteRule ^gplus$ "https\:\/\/plus\.google\.com\/118102255716845472363\/posts" [R=301,L]

