:root {
	--u-indent: 1.5rem;
	--u-indent2: 3rem;
	--u-margin: 0.75rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.indent1 {
	margin-left: var(--u-indent);
}
.indent2 {
	margin-left: var(--u-indent2);
}
ul {
	padding-left: var(--u-indent);
	margin: var(--u-margin) 0;
}
ul.list-none {
	list-style-type: none;
}
.subtext {
	margin-top: 0;
}

body {
	margin: 1rem;
	background-color: #eee;
	font-family: tahoma, sans-serif;
	font-variant: small-caps;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	font-weight: 700;
}
h3 {
	border-bottom: solid 0.125rem #000;
	font-weight: 400;
	padding-left: 2.5rem;
	margin: 2rem 0;
	font-size: 2rem;
	padding-bottom: 0.25rem;
	margin-bottom: 0.5rem;
}
p {
	margin: 0.75rem 0;
}
blockquote {
	margin: 0.75rem 0;
	margin-left: 1.5rem;
}
#content,
#mainNav {
	display: inline-block;
	vertical-align: top;
	margin: 1rem 0;
}
#mainNav {
	position: fixed;
	left: 0.5rem;
	top: 1rem;
}
#social {
	position: fixed;
	bottom: 1rem;
	text-align: left;
}
#subnav {
	position: absolute;
	top: 0;
	left: 10.5rem;
	border-right: none;
	z-index: -1;
}
#subnav .pinned {
	border-bottom: dashed 0.125rem #eee;
	padding: 0.25rem;
}
h2 span,
nav a,
nav h2 {
	display: block;
	padding: 0.125rem 0.5rem;
	width: auto;
	margin: 0;
	font-size: 1.25rem;
}
h2 nav {
	margin-left: 1rem;
}
a:link,
a:visited {
	color: hsla(220, 90%, 40%, 0.8);
}
a:hover {
	color: hsla(220, 100%, 40%, 1);
}
a:active,
a:focus {
	color: none;
}
a[name],
h2[name] {
	text-decoration: underline;
}
:target {
	background-color: hsla(220, 75%, 45%, 0.7);
}
article:target {
	border: hsla(220, 50%, 45%, 0.7) groove thick;
	border-radius: 0.25rem;
}
.selected {
	background-color: #fff;
	border-radius: 0.25rem;
}
.selected a {
	border-right: none;
}
a h2,
a img,
h2 a {
	display: inline;
	vertical-align: bottom;
}
.social {
	width: 1.75rem;
	height: 1.75rem;
}
img + h2 {
	padding-left: 0;
}
a h2,
h2 a {
	line-height: 2rem;
}
iframe {
	width: 100%;
}
#content {
	width: 70%;
	line-height: 1.6rem;
	margin-top: 1rem;
	margin-left: 25%;
	margin-bottom: 0;
}
.wommyImg {
	height: 24rem;
	width: 16rem;
	border-radius: 1rem;
	float: right;
	top: -4rem;
	position: relative;
}
#content article {
	padding: 2rem 3rem;
	margin: 1rem 3rem 3rem;
	background-color: #fff;
	font-size: 125%;
	border-radius: 1rem;
}
#grid article {
	width: 8rem;
	padding: 2rem;
	margin: 1rem;
	float: left;
}

@media only screen and (max-width: 800px) {
	.wommyImg {
		height: 100%;
		width: 100%;
		border-radius: 1.5rem;
		position: inherit;
		float: none;
	}
	#hamburger {
		position: fixed;
		top: 0.5rem;
		right: 0.5rem;
		width: 4rem;
		height: 4rem;
		cursor: pointer;
	}
	#toggleMe {
		background-color: hsla(220, 75%, 45%, 0.6);
		border-radius: 1.5rem;
		margin: 2%;
		padding: 2%;
		left: 0;
		position: fixed;
		top: 0;
		box-sizing: border-box;
		height: 96%;
	}
	#toggleMe span {
		display: none;
	}
	#toggleMe a {
		display: block;
		text-align: center;
		float: left;
		font-size: 150%;
		background-color: #fff;
		margin: 3%;
		padding: 4.5%;
		border-radius: 1rem;
		width: 35%;
	}
	.selected {
		background-color: #ff0 !important;
		border-right: none;
	}
	body {
		margin: 0;
		background-color: #cecece;
		font-size: 100%;
		word-wrap: break-word;
	}
	#content {
		margin: 0;
		width: 100%;
	}
	#content article {
		background-color: #fff;
		margin: 0.5rem;
		border-radius: 1.5rem;
		padding: 1rem;
	}
	article:first-child p:first-child {
		margin: 0;
	}
	#mainNav {
		display: none;
	}
}
@media only screen and (min-width: 800px) {
	#mobileNav {
		display: none;
	}
}
