:root {
  --u-indent: 1.5rem;
  --u-indent2: 3rem;
  --u-margin: .75rem;
}

.block { 
  display: block;
}
.inline-block { 
  display: inline-block;
}

.indent1 {
  margin-left: var(--u-indent);
}
.indent2 { 
  margin-left: var(--u-indent2);
}

ul {
  padding-left: var(--u-indent);
  margin: var(--u-margin) 0;
}

ul.list-none { 
  list-style-type: none;
}

.subtext {
  margin-top: 0;
}
